body {
    text-align: center;
    background-color: #e7d7a9;
}

legend {
    font-weight: bold;
}

fieldset {
    margin-left: 600px;
    margin-right: 600px;
}

button {
    width: 200px;
    height: 50px;
    cursor: pointer;
    background-color: #76a869;

}

#font1 {
    font-family: 'Courier New', Courier, monospace;
}

#font2 {
    font-family: Times, 'Times New Roman', Georgia, serif;
}

#font3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
    cursor: pointer;
}

